<% provide(:title,'Help') %>

<h1>Help</h1>
<p>
	Some more help para from the tutorial book with 2 x links
	<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
	<a href="http://railstutorial.org/">Ruby on Rails Tutorial2</a>
	sample application.	
</p>




